.summary {
  text-align: center;
  max-width: 52rem;
  width: 90%;
  margin: auto;
  margin-top: -10rem;
  position: relative;
  background-color: #fde508;
  color: rgb(53, 53, 53);
  border-radius: 14px;
  padding: 1rem;
  box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
  font-size: 1rem;
  margin-top: 0;
}
